<DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>   
    <body style="background-color: rgba(109, 148, 207, 0.986);">
      <nav class="navbar navbar-expand-lg " style="background-color:black;">
        <div class="container-fluid">
          <a class="navbar-brand col col-10 fw-bold" style="color: white;"><b><strong>Nome da Livraria</strong></b></a> 
          <a class="nav-link" href="{{url_for('cadastrar')}}" style="color:white"><b>ADD Livros</b></a>
        </div>
      </nav>
      
      {% block content %}
      {% endblock %}
      
      <footer class="text-end fixed-bottom" style="background-color:black; height:5%">
            <a href="https://github.com/FoxTrotG/Projeto-TCC" target="_blank" style="margin-left: 47%; color:white;">Acesso ao GitHub</a>
      </footer>
  
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body> 
    </html>